* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}

.container {
  background-color: #e7e5e5;
  max-width: 1500px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

h1, h3, p {
  text-align: center;
}



form {
  display: flex;
  width: 100%;
  justify-content: center;
  
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;

}
input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  background-color: rgba(23, 22, 22, 0.886);
  color:white;
  border-color: rgba(0, 0, 0, 0.886);

}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
  box-sizing: inherit;
  border-color: white;
}

.card-body {
  padding: 10px;
  text-align: center;
  
}

.category {
  color: #5d5757;


}

a {
  background-color:rgba(0, 0, 0, 0.886);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.padre{
background-color: rgb(27, 26, 26);
margin-top: 250px;
margin-top: 20px;

  

}

h2{
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  padding-left: 60px ;
  padding-top: 1rem;
}

.nav{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://drive.google.com/uc?id=1Yv8GK1i3ITOJqizrsHdjDjRme_PDJqJs");
  background-size: cover;
  height: 600px;
  margin-top: -20px;
 
  

}


